<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Ошибка</title>
    <style>
    .text {
        text-align:  center;
    }
    </style>
</head>

<body>
<div class="text">
    <h3>Данной страницы не существует. Пожалуйста, пользуйтесь кнопочками терминала. Хорошего дня!</h3>
    <a href="/main_page">Главная страница</a>
</div>
</body>
</html>




