<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Приветствие</title>
</head>
<body>
<div style="margin: auto; text-align: center; margin-top: 30px">
    <h2>Перейти в меню терминала</h2>
    <a href="/main_page">Меню терминала</a>
</div>
</body>
</html>